<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h3><a href="/profile" target="_blank"><i class="fa fa-plus"></i>Create new</a></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">City</th>
                <th scope="col">Changes</th>
            </tr>
        </thead>
    <% list.forEach(function(result) { %>
        <tr>
          <td>
            <%= (typeof result.fname !="undefined" ? result.fname : "" ) %>
          </td>
          
          <td>
            <%= (typeof result.email !="undefined" ? result.email : "" ) %>
          </td>
          <td>
            <%= (typeof result.mobile !="undefined" ? result.mobile : "" ) %>
          </td>
          <td>
            <%= (typeof result.city !="undefined" ? result.city : "" ) %>
          </td>
          
          <td>
            <a href="/profile/" ><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
            <a ><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>

          </td>
         
        </tr>
        <% }) %>
    </table>
</body>
</html>